
  <div class="container full-width">
    <div class="row">
      <div id="maincontainer" align="center">
        <table cellspacing="0" cellpadding="0" style="width: 100%; height: 100%;">
          <tbody>
          <tr>
            <td align="left" width="100%" height="4em" style="vertical-align: top;">
              <table cellspacing="0" cellpadding="0" class="oweb-Header-Panel oweb-Header-Panel-default"
                     style="width: 100%; height: 0.1em;">
                <tbody>
                <tr>
                  <td align="left" style="vertical-align: top;"><img src="../assets/images/CitigroupLogo.gif" class="gwt-Image"
                                                                     style="width: 66px; height: 45px;"></td>
                  <td align="left" style="vertical-align: bottom;">
                    <table cellspacing="2" cellpadding="0">
                      <tbody>
                      <tr>
                        <td align="left" style="vertical-align: top;">
                          <div class="oweb-Header-Font oweb-Header-Font-portal">OTC Billing</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="vertical-align: top;">
                          <table cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                              <td align="left" style="vertical-align: top;">
                                <table cellspacing="0" cellpadding="0">
                                  <tbody>
                                  <tr>
                                    <td align="left" style="vertical-align: top;">
                                      <div role="menubar" class="gwt-MenuBar gwt-MenuBar-horizontal" hidefocus="true"
                                           aria-activedescendant="gwt-uid-29" style="outline: 0px;"><input type="text"
                                                                                                           style="opacity: 0; z-index: -1; height: 1px; width: 1px; overflow: hidden; position: absolute;">
                                        <table>
                                          <tbody>
                                          <ngb-tabset #tabs activeId="mrc-post" class="tma-account-review-tabset">
                                            <ng-container *ngFor="let tab of tabNames">
                                              <ngb-tab   [title]="tab.nameToShow" id="{{tab.payloadName}}">
                                                <ng-template ngbTabContent >
                                                  <ng-container [ngSwitch]="tab.payloadName">
                                                    <ng-container *ngSwitchCase="'billing'">
                                                      <app-dashboard></app-dashboard>
                                                    </ng-container>
                                                    <ng-container  *ngSwitchCase="'account'">
                                                      <app-dashboard></app-dashboard>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'mrc'">
                                                      <app-dashboard></app-dashboard>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'credit'">
                                                      <app-dashboard></app-dashboard>
                                                    </ng-container>
                                                  </ng-container>
                                                </ng-template>
                                              </ngb-tab>
                                            </ng-container>
                                          </ngb-tabset>
                                           <!-- <tr>
                                            <td class="gwt-MenuItem gwt-MenuItem-visited" id="gwt-uid-29"
                                                role="menuitem" aria-haspopup="true">Dashboard
                                            </td>
                                            <td class="gwt-MenuItem" id="gwt-uid-30" role="menuitem"
                                                aria-haspopup="true">Reference
                                            </td>
                                            <td class="gwt-MenuItem" id="gwt-uid-31" role="menuitem"
                                                aria-haspopup="true">Reconcilation
                                            </td>
                                            <td class="gwt-MenuItem" id="gwt-uid-32" role="menuitem"
                                                aria-haspopup="true">Support
                                            </td>
                                            <td class="gwt-MenuItem menuItemTextColor" id="gwt-uid-112" role="menuitem"
                                                aria-haspopup="true">Actions (2)
                                            </td>
                                          </tr>-->
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td align="right" style="vertical-align: bottom;">
                    <table cellspacing="2" cellpadding="0">
                      <tbody>
                      <tr>
                        <td align="left" style="vertical-align: top;">
                          <div class="oweb-Header-Font oweb-Header-Font-default">OTC Billing</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="vertical-align: top;">
                          <div class="oweb-Header-Font oweb-Header-Font-username">Kodali, Rajkumar</div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

